.goToTop {
  background: var(--soft-blue);
  border: 1px solid var(--white);
  @apply fixed w-10 h-10 rounded-full bottom-3 right-5;
  transition: all 0.1s ease-in-out;
  z-index: 3;
}

.icon {
  @apply absolute text-white transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
  margin-top: -2px;
}
