@import "/styles/utils/variables";
@import "/styles/utils/mixins";

.goToTop {
  background: $soft-blue;
  border: 1px solid $white;
  border-radius: 50rem;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  transition: all .1s ease-in-out;
}

.icon {
  position: absolute;
  color: $white;
  @include center(xy);
  margin-top: -2px;
}