.skeleton {
  display: block;
  width: 100%;
  animation: loading 0.5s infinite;
  height: 20px;
}

.skeletonContainer {
  margin: 5px;
  display: block;
  background: var(--grey);
  padding: 5px;
}

@keyframes loading {
  0% {
    background-color: var(--grey);
  }
  50% {
    background-color: var(--grey);
  }
  100% {
    background-color: var(--dark-grey);
  }
}
