@import "styles/utils/media";
@import "styles/utils/variables";

.footer-fs {
  font-size: .9rem !important;
}

.social {
  justify-content: center;
  @include MQ(L) {
    justify-content: space-between;
  }
}

.socialListItem {
  padding: 0 20px;
}

.icon {
  font-size: 36px;
  @include MQ(L) {
    font-size: 24px;
  }
}