@import "/styles/utils/variables";
@import "/styles/utils/media";
@import "/styles/utils/mixins";


.item {
  &Image {
    text-align: center;
    & div {
      top: 10px;
    }
  }
  &ImageBg {
    background: $primary-gradient;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.video {
  padding: 0;
  video {
    width: 100%;
  }
}

.card {
  height: 160px;
  border-radius: 50rem;
  display: inline-block;
  position: relative;
  &Image {
    position: absolute;
    @include center(xy)
  }
}