@import "/styles/utils/variables";
@import "/styles/utils/media";


.item {
  &Image {
    text-align: center;
    & div {
      top: 10px;
    }
  }
  &ImageBg {
    background: $primary-gradient;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}