@import '../utils/variables';
@import '../utils/media';

.primaryTitle {
  font-size: 32px;
  @include MQ(M) {
    font-size: 49px;
  }
}

.reviewCard {
  border-radius: 25px;
  background: $soft-purple;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.firstsCards {
  border-radius: 25px;
  height: 100%;
}