@import "styles/utils/mixins";
@import "styles/utils/variables";
@import "styles/utils/media";
.primaryNav {
  display: block;
  width: 220px;
}

.navbarToggle {
  background: $soft-purple;
  color: $white !important;
}

.submenu {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  @include MQ(L) {
    border: none;
    background: $white;
    min-width: 170px;
    z-index: 2;
    position: absolute;
    text-align: left;
    padding: 10px 20px;
  }
}

.access {
  min-width: 160px;
}

.header {
  position: relative;
  transition: all ease-in-out .2s;
  z-index: 2;
  &.active {
    background: $white;
    position: sticky;
    top: 0;
  }
}

.underline {
  border-bottom: 1px solid $grey;
}