@import "styles/utils/mixins";
@import "styles/utils/variables";
@import "styles/utils/media";

.header {
  position: sticky;
  top: 0;
  background: $white;
  z-index: 999999;
}

.nav {
  @include MQ(L) {
    padding: 4px 0 0 0;
  }
}

.primaryNav {
  display: block;
  width: 220px;
}

.navbarToggle {
  background: $soft-purple;
  color: $white !important;
}

.submenu {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  @include MQ(L) {
    border: none;
    background: rgba($white, .9);
    min-width: 170px;
    z-index: 2;
    position: absolute;
    text-align: left;
    padding: 10px 20px;
  }
}


.navLink {
  color: $dark-grey !important;
}

.underline {
  font-weight: 700;
  color: $dark-blue !important;
  &::after {
    content: '';
    @include MQ(L) {
      display: block;
      width: 100%;
      height: 2px;
      background: $dark-blue;
    }
  }
}

.access {
  @include MQ(L) {
    min-width: 200px;
  }
}