.btn {
    border: none;
    font-weight: $font-bold;
    border-radius: 50rem;

    &-primary {
        background: transparent;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        transition: all .1s ease-in-out;
        &:hover {
            color: $white;
            background: $dark-blue;
            box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
            transform: translateY(-2px);
        }

        &:focus {
            color: $white;
            outline: none;
            box-shadow: none;
            background: $soft-purple;
        }

        &:disabled {
            background: $soft-purple !important;
        }
    }

    &-secondary{
        border: 1px solid $white;
        background: transparent;
        transition: all .1s ease-in-out;
        &:hover {
            color: $dark-blue;
            background: $white;
            box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
            transform: translateY(-2px);
        }

        &:focus {
            outline: none;
            box-shadow: none;
            background: $soft-purple;
            color: $white;
        }

        &:disabled {
            background: $soft-purple !important;
        }
    }

    &-complementary{
        border: 1px solid $white;
        background: $dark-blue !important;
        color: $white;
        transition: all .1s ease-in-out;
        &:hover {
            color: $white;
            background: $soft-purple !important;
            box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
            transform: translateY(-2px);
        }

        &:focus {
            outline: none;
            box-shadow: none;
            background: $white;
        }

        &:disabled {
            background: $white !important;
        }
    }
    &-white{
        border: 1px solid $white;
        background: $white !important;
        color: $soft-purple;
        transition: all .1s ease-in-out;
        &:hover {
            color: $white;
            background: $dark-blue !important;
            border: 1px solid $white;
            box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
            transform: translateY(-2px);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:disabled {
            background: $dark-blue !important;
        }
    }
}