@import "/styles/utils/variables";

.slick-dots {
  position: initial;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  &::before {
    font-size: 2rem;
  }
}

.slick-next {
  right: 0;
  &::before {
    color: $dark-blue;
  }
}

.slick-prev {
  left: 0;
  &::before {
    color: $dark-blue;
  }
}

.about-slider {
  & .slick-next:before {
    color: $soft-purple;
  }
  & .slick-prev:before {
    color: $soft-purple;
  }
}