.slick-dots {
  position: initial;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  &::before {
    font-size: 2rem;
  }
}

.slick-next {
  right: 2%;
}

.slick-prev {
  left: 2%;
}

.next-arrow-test::before {
  counter-reset: $soft-purple !important;
}