/* .form-input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: $soft-purple;
    height: 40px ;
    &Error {
      border: 1px solid #FD2626 !important;
    }
    &SpanError {
      color: #FD2626 !important;
    }
  }
  &TextArea {
    border-color: $soft-purple;
  }
}

.formInputError.form-control:focus {
  border: 1px solid #FD2626 !important;
} */

.react-datepicker-wrapper {
  display: block !important;
}
