@import "styles/utils/mixins";
@import "styles/utils/variables";
.form {
  &Input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: $soft-purple;
    height: 40px ;
    &Error {
      border: 1px solid #FD2626 !important;
    }
    &SpanError {
      color: #FD2626 !important;
    }
  }
  &Button {
    min-width: 120px;
  }
}