$primary-font: 'Open Sans', sans-serif;
$display-font: 'Open Sans', sans-serif;
$font-ligth: 200;
$font-regular: 400;
$font-bold: 700;

// Colores
$palette: (
    ligth-grey: #F6F6F6,
    ligth-blue: #EAF8FF,

    medium-grey: #777777,
    grey: #DADADA,
    dark-grey: #232323,

    soft-blue: #00abc8,
    dark-blue: #002169,
    soft-purple: #623482,
    accent-yellow: #E5B132,
);
$ligth-grey: map-get($palette,ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$grey: map-get($palette,grey);
$ligth-blue: map-get($palette,ligth-blue);
$dark-grey: map-get($palette,dark-grey);
$soft-blue: map-get($palette,soft-blue);
$dark-blue: map-get($palette,dark-blue);
$soft-purple: map-get($palette,soft-purple);
$accent-yellow: map-get($palette,accent-yellow);

$white:white;
$black: black;
//Gradientes
$primary-gradient: linear-gradient(45deg, $dark-blue, $soft-purple);
$secondary-gradient: linear-gradient(45deg, $ligth-blue, $white);