$primary-font: 'Open Sans', sans-serif;
$display-font: 'Poppins', sans-serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;

// Colores
$palette: (
    light-grey: #F6F6F6,
    light-blue: #EAF8FF,

    medium-grey: #777777,
    grey: #e5e5e5,
    dark-grey: #232323,

    soft-blue: #049bbc,
    dark-blue: #002169,
    soft-purple: #5a377f,
    accent-yellow: #E5B132,
);
$light-grey: map-get($palette,light-grey);
$medium-grey: map-get($palette,medium-grey);
$grey: map-get($palette,grey);
$light-blue: map-get($palette,light-blue);
$dark-grey: map-get($palette,dark-grey);
$soft-blue: map-get($palette,soft-blue);
$dark-blue: map-get($palette,dark-blue);
$soft-purple: map-get($palette,soft-purple);
$accent-yellow: map-get($palette,accent-yellow);

$white:white;
$black: black;
//Gradientes
$primary-gradient: linear-gradient(90deg, $dark-blue, $soft-purple);
$secondary-gradient: linear-gradient(90deg, $soft-purple, $dark-blue);
$complementary-gradient: linear-gradient(90deg, $soft-purple, $soft-blue);