@import "/styles/utils/variables";
@import "/styles/utils/media";

.primaryTitle {
  font-size: 52px;
  @include MQ(L) {
    font-size: 72px;
  }
  &Span {
    color: $soft-blue;
  }
}

.serviceTitle {
  font-size: 3rem;
}