@import "/styles/utils/variables";
@import "/styles/utils/media";
@import "/styles/utils/mixins";

.primaryTitle {
  font-size: 52px;
  @include MQ(L) {
    font-size: 72px;
  }
  &Span {
    color: $soft-blue;
  }
}

.serviceTitle {
  font-size: 3rem;
}

.roundedItem{
  margin-right: 20px;
  & p {
    width: 20px;
  }
}