* {
  box-sizing: border-box;
}
html,body{
  min-height: 100vh;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  color: $dark-grey;
}

a {
  color: $dark-blue;
  transition: .2s ease-in-out all;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #2F80ED;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

ul{
  list-style-type: none;
  padding-left: 0;
}

strong, .font-bold {
  font-weight: $font-bold;
}

.display-font {
  font-family: $display-font;
}

.content-wrapper {
  min-height: calc(100vh - 362px);
}

@each $name, $color in $palette {
  .bg-#{""+$name} {
    background-color: $color !important; 
  }
  .text-#{""+$name} {
    color: $color !important;
  }
}

.bg-primary-gradient {
  background: $primary-gradient;
}
.bg-secondary-gradient {
  background: $secondary-gradient;
}

.bg-gradient-circle {
  background: url("/ellipse.png") no-repeat right/contain, $secondary-gradient;
}

.bg-top-right-shape {
  background: url("/top-right-shape.png") no-repeat;
  background-position: top right;
}

.bg-bottom-left-shape {
  background: url("/bottom-left-shape.png") no-repeat;
  background-position: bottom left;
}

.bg-tag {
  position: relative;
  &::before {
    content: 'Otras soluciones';
    padding: 5px 15px;
    background: $dark-blue;
    color: $white;
    position: absolute;
    top: -88px;
    border-top-left-radius: 10px;
    font-size: 20px;
  }
}

.bg-mask {
  background: url("/mask-bg.png") right bottom no-repeat, url("/mask-bg.png") left top no-repeat;
}

.shadow {
  box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba($dark-blue, .2)
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    & > div {
      min-height: 100%;
    }
}