@import "styles/utils/mixins";
@import "styles/utils/variables";
.form {
  &Input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: $soft-purple;
    height: 40px ;
    &Error {
      border: 1px solid #FD2626 !important;
    }
    &SpanError {
      color: #FD2626 !important;
    }
  }
  &TextArea {
    border-color: $soft-purple;
  }
}

.formInputError.form-control:focus {
  border: 1px solid #FD2626 !important;
}

.select > div {
  border: 1px solid $soft-purple !important;
  border-radius: 0;
}