@import 'bootstrap/dist/css/bootstrap.css';
@import "utils/variables";
@import "utils/media";
@import "utils/mixins";

@import "base/typography";
@import "base/global";

@import "components/hamburguer";
@import "components/videobg";
@import "components/slider";
@import "components/buttons";
@import "components/transitions";
@import "components/video";
@import "components/forms";

.react-datepicker-wrapper {
  display: block !important;
}

input.form-check-input {
  transform: scale(1.25);
}

.team-img {
  border-radius: 35px;
  overflow: hidden;
}