.categoryFilter {
  position: relative;
  transition: all ease-in-out 0.2s;
  z-index: 2;
}

.categoryFilter.active {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--light-grey);
  width: 100%;
}

.hideTitle {
  display: none;
}
